<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744233071979-7gpt1uqi7rtbrkirfqbp6jc8ifp7jrvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744233071979-7gpt1uqi7rtbrkirfqbp6jc8ifp7jrvj</string>
	<key>API_KEY</key>
	<string>AIzaSyBfJ17wZrKbr7dsezbQ7bUAi_bGIftrMc0</string>
	<key>GCM_SENDER_ID</key>
	<string>744233071979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emrekaracazade.flutterLoginSample</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-sample-cabc9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-sample-cabc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744233071979:ios:4b34d2a8b9c9c36661882e</string>
</dict>
</plist>